
{% if paginator %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{paginator.next_page_path}}" class="older"><span class="mega-octicon octicon-playback-rewind" style="min-width: 32px;"></span></a>
  {% else %}
    <span class="next"><span class="mega-octicon octicon-playback-rewind" style="min-width: 32px;"></span></span>
  {% endif %}

  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer"><span class="mega-octicon octicon-playback-fast-forward" style="min-width: 32px;"></span></a>
    {% else %}
      <a href="{{paginator.previous_page_path}}" class="newer"><span class="mega-octicon octicon-playback-fast-forward" style="min-width: 32px;"></span></a>
    {% endif %}
  {% else %}
    <span class="previous"><span class="mega-octicon octicon-playback-fast-forward" style="min-width: 32px;"></span></span>
  {% endif %}
</div>
{%  endif %}
